---
title: someone made a woops
description: These things happen, okay? It just so happens that the page you were trying to reach doesn't exist.
noindex: true
layout: main
---
<main>
  <h1>oops.</h1>
  <p>The page you were trying to reach doesn't exist. Please click the button below to go back home.</p>
  <div>
    <a href="/">Home</a>
  </div>
</main>
