---
title: someone made a woops
description: These things happen, okay? It just so happens that the page you were trying to reach doesn't exist.
noindex: true
layout: main
---
<main>
  <div class="wrapper">
    <h1>oops.</h1>
    <p>The page you were trying to reach doesn't exist. Please click the button below to go back home.</p>
    <div class="btn">
      <a href="/" data-btn>Home</a>
    </div>
  </div>
</main>
