---
title: someone made a woops
description: These things happen, okay? It just so happens that the page you were trying to reach doesn't exist.
noindex: true
layout: main
permalink: "| /404.html"
---
main
  .wrapper
    h1 oops.
    p The page you were trying to reach doesn't exist. Please click the button below to go back home.
    .btn
      a(href="/" data-btn) Home
