---
title: troy. is a band
description: I make music under the name troy. See, it's easy to remember because it is actually my name. Anyway, I hope you like it.
plvylist: true
layout: main
---
<main>

</main>
