---
title: troy. is a band
description: I make music under the name troy. See, it's easy to remember because it is actually my name. Anyway, I hope you like it.
plvylist: true
layout: main
---
<main>
  <section>
    <h1>this is a band.</h1>
    <img src="/assets/img/aiacr.jpg" alt="Album art for Alone in a Crowded Room">
    <p><i>(This is an album)</i></p>
    <div>
      <a href="#" target="_blank" rel="noopener">Listen/Stream</a>
    </div>
  </section>
  <section>
    <h2>you can also stream here.</h2>
    <div class="plvylist"></div>
  </section>
  <section>
    <h2>unreleased footage alert!</h2>
    <p>Find demos and more behind the scenes footage in the demos vault.</p>
    <img src="https://via.placeholder.com/275x175" alt="">
    <p><a href="#">&gt;&gt; video_title.MOV</a></p>
    <p><a href="#">&gt;&gt; video_title.MOV</a></p>
    <img src="https://via.placeholder.com/275x175" alt="">
    <div>
      <a href="#" target="_blank" rel="noopener">Demo Vault</a>
    </div>
  </section>
</main>
