# Build the site
[build]
  command = "npx @11ty/eleventy"
  publish = "_site"

# Assign all the post-processing
[build.processing]
  skip_processing = false
[build.processing.css]
  bundle = true
  minify = true
[build.processing.js]
  bundle = true
  minify = true
[build.processing.html]
  pretty_urls = true
[build.processing.images]
  compress = true

[[plugins]]
  package = "netlify-plugin-image-optim"

# Custom headers
[[headers]]
  for = "/*"
  [headers.values]
    X-Content-Type-Options = "nosniff"
    X-Frame-Options = "SAMEORIGIN"
    X-XSS-Protection = "1"
    Content-Security-Policy = "default-src 'self' https://d33wubrfki0l68.cloudfront.net data: 'unsafe-inline' https://unpkg.com/sanitize.css https://fonts.googleapis.com/ https://fonts.gstatic.com/"
