<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🔥</text></svg>">

    <link rel="preconnect" href="https://d33wubrfki0l68.cloudfront.net">
    <link rel="dns-prefetch" href="https://d33wubrfki0l68.cloudfront.net">
    <link rel="canonical" href="https://validcharacters.netlify.app/{{page.url}}">
    <link rel="stylesheet" href="/assets/css/main.css">

    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="og:locale" content="en_US">
    <meta name="og:type" content="website">
    <meta name="og:title" content="{{ title }}">
    <meta name="og:description" content="{{ description }}">
    <meta name="og:site_name" content="https://validcharacters.netlify.app/">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
  </head>
  <body>

  </body>
</html>
