:root {
 /* you've probably got some variable you like, right? */
 --headerFont: "Red Hat Display", sans-serif;
 --bodyFont: "Red Hat Text", sans-serif;
 --blue: #0a7ac9;
 --blueOpacity: #0a7ac9aa;
 --red: #e53d00;
 --redOpacity: #e53d00aa;
 --dark: #1e3231;
 --darkOpacity: #1e3231aa;
 --black: #010101;
 --blackOpacity: #010101aa;
 --light: #f2f5ea;
 --lightOpacity: #f2f5eaaa;
 --white: #f5f5f5;
 --whiteOpacity: #f5f5f5aa;
 --pink: #d0a5c0;
 --pinkOpacity: #d0a5c0aa;
 --step--2: clamp(0.9113rem, 0.8922rem + 0.0951vw, 0.96rem);
 --step--1: clamp(1.0938rem, 1.0523rem + 0.2073vw, 1.2rem);
 --step-0: clamp(1.3125rem, 1.2393rem + 0.3659vw, 1.5rem);
 --step-1: clamp(1.575rem, 1.4579rem + 0.5854vw, 1.875rem);
 --step-2: clamp(1.89rem, 1.7129rem + 0.8854vw, 2.3438rem);
 --step-3: clamp(2.2681rem, 2.0098rem + 1.2915vw, 2.93rem);
 --step-4: clamp(2.7219rem, 2.355rem + 1.8341vw, 3.6619rem);
 --step-5: clamp(4.2656rem, 3.7537rem + 3.5598vw, 5.5775rem);
 --gap: 1em;
}

html {
 min-height: 100vh;
 cursor: initial;
 background-color: var(--white);
}

body {
 min-height: 100vh;
 width: 100%;
 display: flex;
 flex-direction: column;
 font-family: var(--bodyFont);
 font-size: var(--step-0);
 color: var(--black);
}

img {
 display: block;
 max-width: 100%;
 margin: auto;
 height: auto;
}

img[height] {
 height: auto;
}

/* Never really liked margins on my headings */
h1,
h2,
h3,
h4,
h5,
h6 {
 font-family: var(--headerFont);
 font-weight: 700;
 margin: 0;
}

h1 {
 font-size: var(--step-5);
}

h2 {
 font-size: var(--step-4);
}

/* Use this class instead to put margins on my headings */
.headline {
 margin-bottom: 1em;
}

.wrapper {
 width: 95%;
 max-width: 1600px;
 margin: auto;
}

.wrapper[data-constrain="more"] {
 max-width: 1100px !important;
}

.wrapper[data-constrain="most"] {
 max-width: 600px !important;
}

.flex {
 display: flex;
}

.col {
 flex-direction: column;
}

.flex-middle {
 align-items: center;
}

.space-out {
 justify-content: space-between;
}

/* I hear you asking "but what if something needs to be row-reverse?" and well, I haven't had that happen yet so we'll cross that bridge when we get there */
*[data-state="reversed"] {
 flex-direction: column-reverse !important;
}

.full {
 width: 100%;
}

.grid {
 display: grid;
 gap: var(--gap);
}

.two-col {
 grid-template-columns: repeat(2, 1fr);
}

.three-col {
 grid-template-columns: repeat(3, 1fr);
}

.place-center {
 place-items: center;
}

.flex-center {
 display: flex;
 align-items: center;
 justify-content: center;
}

.wrap {
 flex-wrap: wrap;
}

.center {
 text-align: center;
}

.italic {
 font-style: italic;
}

.bold {
 font-weight: 700;
}

video {
 display: block;
 width: 100%;
 max-width: 700px;
 margin: auto;
}

a:not([data-btn]) {
 color: var(--blue);
 position: relative;
 text-decoration: none;
}

a:not([data-btn])::before {
 content: "";
 position: absolute;
 bottom: 0;
 left: 0;
 height: 0.06em;
 width: 100%;
 background-color: currentColor;
 transition: transform 400ms ease-out;
}

a:not([data-btn]):hover::before {
 transform: scaleX(0);
 transform-origin: right;
}

a:not([data-btn])::before {
 transform: scaleX(1);
 transform-origin: left;
}

a:not([data-btn]):visited {
 color: var(--red);
}

.header {
 background: var(--dark);
 padding: 1em;
 color: var(--light);
}

.header a {
 text-decoration: none;
 color: inherit;
}

.header h1 {
 font-weight: bold;
 font-size: 1.5em;
 margin-bottom: 1em;
}

.header button {
 position: absolute;
 right: 1em;
 top: 1em;
 padding: 8px;
 border: 2px solid var(--light);
 border-radius: 5px;
 font-size: 1em;
 background: transparent;
 color: var(--light);
 display: none;
}

.header button:focus, .header button:hover {
 background: var(--light);
 color: var(--black);
}

.header nav {
 border-top: 1px solid var(--whiteOpacity);
 padding: 1em 1em 0;
}

.header nav li {
 margin-bottom: 1em;
}

.header nav a:visited {
 color: var(--light);
}

.header img {
 margin: 0;
 width: 120px;
}

.js .header ul {
 display: none;
 margin-bottom: 0;
}

.js .header ul.is-active {
 display: block;
}

.js .header button {
 display: block;
}

#about {
 background-color: var(--light);
}

#about img {
 width: 65%;
 max-width: 550px;
 margin: 0;
}

.btn {
 padding-top: 1em;
 padding-bottom: 1em;
}

.btn a {
 display: inline-block;
 border: 1px solid var(--black);
 background: transparent;
 color: var(--black);
 border-radius: 5px;
 padding: 0.5em 1em;
 transition: color 0.3s ease, background 0.3s ease;
}

.btn a:hover {
 color: var(--white);
 background: var(--black);
}

#stream .heading {
 background-color: var(--pinkOpacity);
 text-align: right;
}

#demos {
 background-color: var(--light);
}

#demos .heading {
 background-color: var(--blueOpacity);
}

#demos .demo {
 text-align: center;
}

#demos .btn {
 text-align: center;
}

.footer {
 background: var(--dark);
 padding: 1em;
 color: var(--light);
 margin-top: auto;
}

.footer p {
 font-size: var(--step--1);
 text-align: center;
}

.footer a {
 text-decoration: none;
 color: inherit;
}

.footer a:visited {
 color: var(--light);
}

.vault #alone .heading {
 background-color: var(--redOpacity);
 margin-bottom: 1em;
}

.vault #redux .heading {
 background-color: var(--pinkOpacity);
 margin-bottom: 1em;
}

@media (min-width: 700px) {
 .js .header ul {
  display: block;
 }
 .js .header button {
  display: none;
 }
 .header button {
  display: none;
 }
 .header nav {
  padding-left: 0;
 }
 .header nav li {
  display: inline-block;
  margin-right: 1em;
 }
 #demos .container {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
 }
 #demos .container > *:nth-child(2) {
  flex-direction: row-reverse;
 }
 #demos .container .demo {
  display: flex;
  align-items: center;
 }
 #demos .container .demo > * {
  width: 50%;
 }
 .vault .demo {
  text-align: center;
 }
 .heading {
  padding-top: 1em;
  padding-bottom: 1em;
 }
}

@media (min-width: 1100px) {
 #about h1,
 .streaming h1 {
  text-align: center;
 }
 .heading {
  padding-top: 3em;
  padding-bottom: 3em;
 }
 .vault .container {
  display: grid;
  gap: var(--gap);
  grid-template-columns: 1fr 1fr;
 }
}

@media (min-width: 1600px) {
 .vault .container {
  grid-template-columns: 1fr 1fr 1fr;
 }
}
