---
title: troy's terms and conditions
description: Look, you agreed to some stuff by using this site whether you like it or not.
layout: main
---
main
  .wrapper
    h1 Site Terms
    p By using this site, you agree to like all my music. There will be no ifs, ands, or buts about that, okay? You've accepted this fact plain and simple by means of reading these terms.
    p I don't make the rules around here, buddy. This is just how the internet works. You use my site, you agree to like and purchase every piece of music I've published until this point, and you will continue to do so in perpetuity.
    p Look, I'm sorry - I really am. If I knew creating this website for my band would come with such strict measures for you, my most loyal and loving listener, then I don't know if I would have done it. But I was already 10% into making this thing by the time <del>I wrote these terms</del> the internet's lawyers handed me these terms to post.
    p We're still good though, right?
