---
title: stream troy's music
description: I made this album streamer so you can enjoy my music without needing to embed a whole 3rd party widget. Cool, right?
plvylist: true
layout: main
---
<main>
  <h1>stream my music here</h1>
  <div class="plvylist"></div>
  <div>
    <a href="#" target="_blank" rel="noopener">Buy My Music</a>
  </div>
</main>
