---
title: stream troy's music
description: I made this album streamer so you can enjoy my music without needing to embed a whole 3rd party widget. Cool, right?
plvylist: true
layout: main
---
<main class="streaming">
  <div class="wrapper">
    <h1>stream stuff here</h1>
  </div>
  <div class="plvylist"></div>
  <div class="btn center">
    <a href="https://justtroy.bandcamp.com" target="_blank" rel="noopener" data-btn>Buy My Music</a>
  </div>
</main>
