---
title: troy's demo vault
description: Sometimes, a lot of work went into making my music. You can see that work here, in other audio and visual forms.
layout: main
---
<main>
  <h1>demo vault</h1>
  <section>
    <h2>alone in a crowded room</h2>
    {% for demo in demos.aloneDemos %}
    <figure>
      <video src="{{ demo.src }}" controls playsinline poster="{{ demo.poster }}">
        <p>Sorry, your browser doesn't support videos!</p>
      </video>
      <figcaption>{{ demo.file }}</figcaption>
    </figure>
    {% endfor %}
  </section>
  <section>
    <h2>redux (coming eventually)</h2>
  </section>
</main>
