---
title: troy's demo vault
description: Sometimes, a lot of work went into making my music. You can see that work here, in other audio and visual forms.
layout: main
---
<main>
  <h1>demo vault</h1>
  <section>
    <h2>alone in a crowded room</h2>
    <img src="https://via.placeholder.com/275x175" alt="">
    <p><a href="#">&gt;&gt; video_title.MOV</a></p>
    <img src="https://via.placeholder.com/275x175" alt="">
    <p><a href="#">&gt;&gt; video_title.MOV</a></p>
    <img src="https://via.placeholder.com/275x175" alt="">
    <p><a href="#">&gt;&gt; video_title.MOV</a></p>
    <img src="https://via.placeholder.com/275x175" alt="">
    <p><a href="#">&gt;&gt; video_title.MOV</a></p>
  </section>
  <section>
    <h2>redux (coming eventually)</h2>
    <img src="https://via.placeholder.com/275x175" alt="">
    <p><a href="#">&gt;&gt; video_title.MOV</a></p>
    <img src="https://via.placeholder.com/275x175" alt="">
    <p><a href="#">&gt;&gt; video_title.MOV</a></p>
    <img src="https://via.placeholder.com/275x175" alt="">
    <p><a href="#">&gt;&gt; video_title.MOV</a></p>
    <img src="https://via.placeholder.com/275x175" alt="">
    <p><a href="#">&gt;&gt; video_title.MOV</a></p>
  </section>
</main>
