@media (min-width: 700px) {
  .js .header {
    ul {
      display: block;
    }
    button {
      display: none;
    }
  }

  .header {
    button {
      display: none;
    }
    nav {
      padding-left: 0;

      li {
        display: inline-block;
        margin-right: 1em;
      }
    }
  }
}
