@import "_globals";

:root {
  /* you've probably got some variable you like, right? */
  --step--2: clamp(0.9113rem, 0.8922rem + 0.0951vw, 0.96rem);
  --step--1: clamp(1.0938rem, 1.0523rem + 0.2073vw, 1.2rem);
  --step-0: clamp(1.3125rem, 1.2393rem + 0.3659vw, 1.5rem);
  --step-1: clamp(1.575rem, 1.4579rem + 0.5854vw, 1.875rem);
  --step-2: clamp(1.89rem, 1.7129rem + 0.8854vw, 2.3438rem);
  --step-3: clamp(2.2681rem, 2.0098rem + 1.2915vw, 2.93rem);
  --step-4: clamp(2.7219rem, 2.355rem + 1.8341vw, 3.6619rem);
  --step-5: clamp(4.2656rem, 3.7537rem + 3.5598vw, 5.5775rem);
  --gap: 1em;
}

html {
  min-height: 100vh;
  cursor: initial;
  background-color: $white;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font: {
    family: $bodyFont;
    size: var(--step-0);
  }
  color: $black;
}

img {
  display: block;
  max-width: 100%;
  margin: auto;
  height: auto;

  &[height] {
    height: auto;
  }
}

/* Never really liked margins on my headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headerFont;
  font-weight: 700;
  margin: 0;
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}
/* Use this class instead to put margins on my headings */
.headline {
  margin-bottom: 1em;
}

.wrapper {
  width: 95%;
  max-width: 1600px;
  margin: auto;

  &[data-constrain="more"] {
    max-width: 1100px !important;
  }

  &[data-constrain="most"] {
    max-width: 600px !important;
  }
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.flex-middle {
  align-items: center;
}

.space-out {
  justify-content: space-between;
}
/* I hear you asking "but what if something needs to be row-reverse?" and well, I haven't had that happen yet so we'll cross that bridge when we get there */
*[data-state="reversed"] {
  flex-direction: column-reverse !important;
}

.full {
  width: 100%;
}

.grid {
  display: grid;
  gap: var(--gap);
}

.two-col {
  grid-template-columns: repeat(2, 1fr);
}

.three-col {
  grid-template-columns: repeat(3, 1fr);
}

.place-center {
  place-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.center {
  text-align: center;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

// BEGIN ACTUAL PAGE CONTENT
video {
  display: block;
  width: 100%;
  max-width: 700px;
  margin: auto;
}

a:not([data-btn]) {
  color: $blue;
  position: relative;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.06em; // roughly the current letter thickness
    width: 100%;
    background-color: currentColor;
    transition: transform 400ms ease-out;
  }

  &:hover::before {
    transform: scaleX(0);
    transform-origin: right;
  }

  &::before {
    transform: scaleX(1);
    transform-origin: left;
  }

  &:visited {
    color: $red;
  }
}

.header {
  background: $dark;
  padding: 1em;
  color: $light;

  a {
    text-decoration: none;
    color: inherit;
  }

  h1 {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  button {
    position: absolute;
    right: 1em;
    top: 1em;
    padding: 8px;
    border: 2px solid $light;
    border-radius: 5px;
    font-size: 1em;
    background: transparent;
    color: $light;
    display: none;

    &:focus,
    &:hover {
      background: $light;
      color: $black;
    }
  }

  nav {
    border-top: 1px solid transparentize(#fff, 0.4);
    padding: 1em 1em 0;

    li {
      margin-bottom: 1em;
    }

    a {
      &:visited {
        color: $light;
      }
    }
  }

  img {
    margin: 0;
    width: 120px;
  }
}

.js .header {
  ul {
    display: none;
    margin-bottom: 0;

    &.is-active {
      display: block;
    }
  }

  button {
    display: block;
  }
}

#about {
  background-color: $light;

  img {
    width: 65%;
    max-width: 550px;
    margin: 0;
  }
}

.btn {
  padding: {
    top: 1em;
    bottom: 1em;
  }

  a {
    display: inline-block;
    border: 1px solid $black;
    background: transparent;
    color: $black;
    border-radius: 5px;
    padding: 0.5em 1em;
    transition: color 0.3s ease, background 0.3s ease;

    &:hover {
      color: $white;
      background: $black;
    }
  }
}

#stream {
  .heading {
    background-color: #d0a5c0aa;
    text-align: right;
  }
}

#demos {
  background-color: $light;

  .heading {
    background-color: #0a7ac9aa;
  }

  .demo {
    text-align: center;
  }

  .btn {
    text-align: center;
  }
}

.footer {
  background: $dark;
  padding: 1em;
  color: $light;
  margin-top: auto;

  p {
    font-size: var(--step--1);
    text-align: center;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:visited {
      color: $light;
    }
  }
}

.vault {
  #alone {
    .heading {
      background-color: #e53d00aa;
      margin-bottom: 1em;
    }
  }

  #redux {
    .heading {
      background-color: #d0a5c0aa;
      margin-bottom: 1em;
    }
  }
}

@import "_media";
@import "plvylist";
