@import "_globals";

:root {
  /* you've probably got some variable you like, right? */
  --step--2: clamp(0.9113rem, 0.8922rem + 0.0951vw, 0.96rem);
  --step--1: clamp(1.0938rem, 1.0523rem + 0.2073vw, 1.2rem);
  --step-0: clamp(1.3125rem, 1.2393rem + 0.3659vw, 1.5rem);
  --step-1: clamp(1.575rem, 1.4579rem + 0.5854vw, 1.875rem);
  --step-2: clamp(1.89rem, 1.7129rem + 0.8854vw, 2.3438rem);
  --step-3: clamp(2.2681rem, 2.0098rem + 1.2915vw, 2.93rem);
  --step-4: clamp(2.7219rem, 2.355rem + 1.8341vw, 3.6619rem);
  --step-5: clamp(3.2656rem, 2.7537rem + 2.5598vw, 4.5775rem);
  --gap: 1em;
}

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: $bodyFont;
}

img {
  display: block;
  max-width: 100%;
  margin: auto;
  height: auto;

  &[height] {
    height: auto;
  }
}

/* Never really liked margins on my headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headerFont;
  font-weight: 500;
  margin: 0;
}
/* Use this class instead to put margins on my headings */
.headline {
  margin-bottom: 1em;
}

.wrapper {
  width: 95%;
  max-width: 1600px;
  margin: auto;

  &[data-constrain="more"] {
    max-width: 1100px !important;
  }

  &[data-constrain="most"] {
    max-width: 600px !important;
  }
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}
/* I hear you asking "but what if something needs to be row-reverse?" and well, I haven't had that happen yet so we'll cross that bridge when we get there */
*[data-state="reversed"] {
  flex-direction: column-reverse !important;
}

.full {
  width: 100%;
}

.grid {
  display: grid;
  gap: var(--gap);
}

.two-col {
  grid-template-columns: repeat(2, 1fr);
}

.three-col {
  grid-template-columns: repeat(3, 1fr);
}

.place-center {
  place-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.center {
  text-align: center;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

@import "_media";
